* {
  box-sizing: border-box;
}
body {
  background-color: var();
  margin: 0;
  text-align: center;
}

.Light {
  background-color: rgb(209, 162, 96);
  color: rgb(255, 245, 245);
}

.Dark {
  background-color: rgb(1, 71, 45);
  color: whitesmoke;
}

.cardLi {
  margin-top: -8vh;
  margin-bottom: 10vh;
  background-color: rgb(228, 208, 155);
  color: rgb(85, 61, 7);
  height: 78vh;
  width: 52vh;
  border-radius: 5vh;
  border: solid 1vh rgb(71, 50, 1);
}

.cards {
  margin: 25vh;
  margin-left: -2.5vh;
  list-style: none;
  display: grid;
  gap: 6rem;
  grid-template-columns: repeat(auto-fill, minmax(38vh, 1fr));
  width: 100%;
}

.headerDiv {
  background-color: rgb(106, 104, 104);
  border: 0.5vh solid black;
  height: 11vh;
  border-radius: 1.5vh;
}

.homeDiv {
  background-color: inherit;
  height: 600vh;
}

.formDiv {
  height: 300vh;
  background-color: inherit;
}

.listDiv {
  height: 600vh;
  background-color: inherit;
}

.image {
  border: 0.5vh solid rgb(241, 241, 241);
  border-radius: 22vh;
  width: 310px;
  height: 310px;
}

.form {
  background-color: rgb(220, 181, 137);
  flex-direction: column;
  width: 95vh;
  height: 80vh;
  border-radius: 3vh;
  margin: 15vh 41vh;
  padding: 1.5vh;
  color: rgb(71, 50, 1);
  border: 1vh solid rgb(71, 50, 1);
}


#darkButton {
  /* position: relative;
  top: -112.5px; */
  float: right;
  font-size: x-large;
  font-weight: bold;
  border: 1vh solid black; 
  background-color: rgb(58, 53, 53);
  width: 9.5vh;
  height: 9.5vh;
}

#sun {
  /* position:relative;
  left: 0.7vh;
  top: 0.8vh; */
  border-radius: 6vh;
  height: 7.5vh;
  width: 7.5vh;
}

#sun:hover {
  color: rgb(255, 213, 0);
}


#moon {
  /* position:relative;
  left: 0.7vh;
  top: 0.8vh; */
  border-radius: 6vh;
  height: 7.5vh;
  width: 7.5vh;
}

#moon:hover {
  color: rgb(0, 204, 255);
}


button {
  border-radius: 1.7vh;
  padding: 1.5vh;
  border: 0.5vh solid rgb(250, 250, 250);
  background-color: rgb(1, 71, 45);
  color: rgb(255, 255, 255) ;
}


button:hover {
  background-color: rgb(96, 95, 93);
}

#title {
padding: 1.5vh;
border-radius: 2.7vh;
height: 9.5vh;
text-align: left;
width:fit-content;
border: 0.5vh solid rgb(250, 250, 250);
background-color: rgb(1, 71, 45);
color: rgb(198, 171, 112);
}

#title:hover {
  color: whitesmoke;
  background-color: rgb(96, 95, 93);
  border: 0.5vh solid rgb(198, 171, 112);
}

#button1 {
  background-color: rgb(1, 71, 45);
  border: solid white;
  color: rgb(198, 171, 112);
  border-radius: 3vh;
  text-align: center;
  padding: 2.7vh;
  font-weight: bolder;
  font-size: x-large;
}

#button1:hover {
  color: whitesmoke;
  background-color: rgb(96, 95, 93);
  border:0.5vh solid rgb(198, 171, 112);
}

#button2 {
  background-color: rgb(1, 71, 45);
  border: solid white;
  color: rgb(198, 171, 112);
  border-radius: 3vh;
  text-align: center;
  padding: 2.7vh;
  font-weight: bolder;
  font-size: x-large;
}

#button2:hover {
  color: whitesmoke;
  background-color: rgb(96, 95, 93);
  border:0.5vh solid rgb(198, 171, 112);
}

.star {
  border: solid 0.5vh rgb(71, 50, 1);
  padding: 0.8vh;
  border-radius: 1.6rem;
  width: 5vh;
  height: 5vh;
  cursor: pointer;
}

.star.favorite {
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.star.active,
.star.favorite:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
}